html,
body,
#map-id {
  height: 560px;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color:red;
  color: darkblue;
  text-align:center;
  padding-top:30px;
  padding-bottom: 30px;
  margin-top:0px;
  margin-bottom:0px
}

.navbar-nav {
  margin-right:0;
  margin-left:auto;
}

.navbar li {
  margin-right: 60px;
  margin-left: 60px;
  cursor: pointer; 
  display:inline;
  font-size:150%;
}

.nav-title {
  font-family:Apple Chancery, cursive;
  font-size:250%;
  text-align:center;
  margin:0px;
  padding:0px
}

.nav-title>h1 {
  text-align:center;
}

/* .navbar .container-fluid>.navbar-header {
  float: top;
  margin-right: 10px;
} */


#health_legend,
#yelp_legend,
#google_legend {
  padding: 10px;
  font-family: Sanchez, serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: black;
  border-style:solid;
  border-width: 2px;
  background-color:wheat;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#yelp_legend,
#google_legend {
  width:300px;
}

#legend_table td,tr,th {
  border: none !important;
}

#uppercase{
  text-transform:uppercase;
}

hr{
  border-width:2px;
  border-style:solid;
}

#feature_infos{
  overflow-wrap:break-word;
}

#inspections table,th,td,tr {
  border: 1px solid black;
  padding: 2px;
}

table>.inspection_detail_table { 
  table-layout:fixed;
  width:180px;
}

.forty {
  column-width: 40%;
}

.twenty {
  column-width: 20%;
}



/* .popup-fixed {
  position: fixed;
  top: auto;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  transform: none !important;
  margin: 0;
  border-radius: 0;
  
.leaflet-popup-tip-container {
  display: none;
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
} */